{% extends 'base.html' %}
{% load static %}

{% block title %}コンポーネント一覧【canal】{% endblock %}
{% block titleog %}コンポーネント一覧【canal】{% endblock %}

{% block content %}
  <div class="p-partsList">
    <div class="p-partsList-title">
      <h1 class="g-title-primary">
        Color
      </h1>
    </div>

    <div class="p-partsList-item">
      <div class="p-colorSample">
        <p>Primary</p>
        <div class="content primary"></div>
      </div>
    </div>

    <div class="p-partsList-item">
      <div class="p-colorSample">
        <p>Primary_hover</p>
        <div class="content primary--hover"></div>
      </div>
    </div>

    <div class="p-partsList-item">
      <div class="p-colorSample">
        <p>Text_Black</p>
        <div class="content text"></div>
      </div>
    </div>

    <div class="p-partsList-item">
      <div class="p-colorSample">
        <p>Text_Gray+1</p>
        <div class="content text--gray-more-1"></div>
      </div>
    </div>

    <div class="p-partsList-item">
      <div class="p-colorSample">
        <p>Text_Gray</p>
        <div class="content text--gray"></div>
      </div>
    </div>

    <div class="p-partsList-item">
      <div class="p-colorSample">
        <p>Text_White</p>
        <div class="content text--white"></div>
      </div>
    </div>

    <div class="p-partsList-item">
      <div class="p-colorSample">
        <p>BG_Gray-1</p>
        <div class="content bg--gray-less-1"></div>
      </div>
    </div>

    <div class="p-partsList-item">
      <div class="p-colorSample">
        <p>BG_Gray</p>
        <div class="content bg--gray"></div>
      </div>
    </div>

    <div class="p-partsList-item">
      <div class="p-colorSample">
        <p>BG_Gray+1</p>
        <div class="content bg--gray-more-1"></div>
      </div>
    </div>

    <div class="p-partsList-item">
      <div class="p-colorSample">
        <p>Border_Gray</p>
        <div class="content border--gray"></div>
      </div>
    </div>

    <div class="p-partsList-item">
      <div class="p-colorSample">
        <p>Border_Gray-1</p>
        <div class="content border--gray-less-1"></div>
      </div>
    </div>

    <div class="p-partsList-item">
      <div class="p-colorSample">
        <p>Modal_Gray</p>
        <div class="content modal--gray"></div>
      </div>
    </div>

    <div class="p-partsList-item">
      <div class="p-colorSample">
        <p>Notify_Red</p>
        <div class="content notify--red"></div>
      </div>
    </div>

    <div class="p-partsList-item">
      <div class="p-colorSample">
        <p>Notify_Red_hover</p>
        <div class="content notify--red-hover"></div>
      </div>
    </div>

    <div class="p-partsList-title">
      <h1 class="g-title-primary">
        Typography
      </h1>
    </div>

    <div class="p-partsList-item">
      <h1 class="g-title-primary">h1 XXラージ</h1>
    </div>

    <div class="p-partsList-item">
      <h2 class="g-title-secondary">h2 ページタイトル</h2>
    </div>

    <div class="p-partsList-item">
      <h3 class="g-title-tertiary">タイトル</h3>
    </div>

    <div class="p-partsList-item">
      <h4 class="g-title-quaternary">サブタイトル</h4>
    </div>

    <div class="p-partsList-item">
      <h5 class="g-title-quinary">テキスト</h5>
    </div>

    <div class="p-partsList-item">
      <p class="text-lg">Lテキスト</p>
    </div>

    <div class="p-partsList-item">
      <p class="text-md">デフォルトテキスト</p>
    </div>

    <div class="p-partsList-item">
      <span class="text-sm">ラベルテキスト</span>
    </div>

    <div class="p-partsList-item">
      <span class="text-xs">タイニーテキスト</span>
    </div>

    <div class="p-partsList-title">
      <h1 class="g-title-primary">
        Button
      </h1>
    </div>

    <div class="p-partsList-item">
      <a class="c-btn c-btn--primary" href="#">
        ボタンテキスト
      </a>
    </div>

    <div class="p-partsList-item">
      <a class="c-btn" href="#">
        ボタンテキスト
      </a>
    </div>

    <div class="p-partsList-item">
      <a class="c-textLink" href="#">
        ボタンテキスト
      </a>
    </div>

    <div class="p-partsList-item dark">
      <a class="c-btn c-btn--primary-dark" href="#">
        ボタンテキスト
      </a>
    </div>

    <div class="p-partsList-item dark">
      <a class="c-btn c-btn--dark" href="#">
        ボタンテキスト
      </a>
    </div>

    <div class="p-partsList-item dark">
      <a class="c-textLink c-textLink--dark" href="#">
        ボタンテキスト
      </a>
    </div>

    <div class="p-partsList-item">
      <a class="c-btn c-btn--red" href="#">
        ボタンテキスト
      </a>
    </div>

    <div class="p-partsList-item">
      <a class="c-btn c-btn--primary is-disabled" href="#">
        ボタンテキスト
      </a>
    </div>

    <div class="p-partsList-item">
      <a class="c-btn is-disabled" href="#">
        ボタンテキスト
      </a>
    </div>

    <div class="p-partsList-item dark">
      <a class="c-btn c-btn--primary c-btn--primary-dark is-disabled" href="#">
        ボタンテキスト
      </a>
    </div>

    <div class="p-partsList-item dark">
      <a class="c-btn c-btn--dark is-disabled" href="#">
        ボタンテキスト
      </a>
    </div>

    <div class="p-partsList-item">
      <a class="c-btn is-loading" href="#">
        ボタンテキスト
      </a>
    </div>

    <div class="p-partsList-item">
      <a class="c-btn c-btn--primary is-loading" href="#">
        ボタンテキスト
      </a>
    </div>

    <div class="p-partsList-item">
      <a class="c-btn c-btn--red is-loading" href="#">
        ボタンテキスト
      </a>
    </div>

    <div class="p-partsList-item">
      <a class="c-textLink is-loading" href="#">ボタンテキスト</a>
    </div>

    <div class="p-partsList-title">
      <h1 class="g-title-primary">
        Form
      </h1>
    </div>

    <div class="p-partsList-item">
      <div class="c-form-item">
        <input type="text" class="c-form-input" value="" onkeyup="this.setAttribute('value', this.value);">
        <label for="" class="c-form-label">
          メールアドレス
        </label>
        <p class="c-form-error">メールアドレスを入力してください</p>
      </div>
    </div>

    <div class="p-partsList-item">
      <div class="c-form-item">
        <label class="c-form-checkbox">
          <input class="c-form-checkboxInput" type="checkbox">
          <span class="c-form-checkboxMark">
            <i class="material-icons">done</i>
          </span>
          利用規約に同意する
        </label>
        <p class="c-form-error">メールアドレスを入力してください</p>
      </div>
    </div>

    <div class="p-partsList-item">
      <div class="c-form-item">
        <div class="c-form-select">
          <select name="" class="c-form-selectInput c-form-selectInput--hasLabel">
            <option value="-">-</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
          </select>
          <label for="" class="c-form-label">
            年齢
          </label>
          <svg class='c-form-selectIcon'><use xlink:href='#icons-arrow_down'/></svg>
        </div>
        <p class="c-form-comment">※現在、「沖縄」「北海道」の二箇所のみ配送に対応しておりません。</p>
        <p class="c-form-error">メールアドレスを入力してください</p>
      </div>
    </div>

    <div class="p-partsList-item">
      <div class="c-form-item">
        <div class="c-form-radioGroup">
          <label class="c-form-radio">
            <input type="radio" class="c-form-radioInput" name="radio01" checked>
            <span class="c-form-radioMark"></span>
            利用規約
          </label>
          <label class="c-form-radio">
            <input type="radio" class="c-form-radioInput" name="radio01">
            <span class="c-form-radioMark"></span>
            利用規約
          </label>
        </div>
        <p class="c-form-error">メールアドレスを入力してください</p>
      </div>
    </div>

    <div class="p-partsList-item">
      <div class="c-form-item is-error">
        <input type="text" class="c-form-input" onkeyup="this.setAttribute('value', this.value);" value="">
        <label for="" class="c-form-label">
          メールアドレス
        </label>
        <p class="c-form-error">メールアドレスを入力してください</p>
      </div>
    </div>

    <div class="p-partsList-title">
      <h1 class="g-title-primary">
        Modal
      </h1>
    </div>

    <div class="p-partsList-item p-partsList-item--modal">
      <div class="c-modal-content">
        <h4 class="g-title-quaternary c-modal-title">データを承認して発注を完了しますか</h4>
        <p class="c-modal-body">
          この操作をするとキャンセルできません。
        </p>

        <div class="c-modal-btns">
          <a class="c-textLink c-textLink--negative" href="#">
            キャンセル
          </a>
          <a class="c-btn c-btn--primary" href="#">
            データを承認する
          </a>
        </div>
      </div>
    </div>

    <div class="p-partsList-item p-partsList-item--modal-lg">
      <div class="c-modal-content c-modal-content--lg">
        <a href="#" class="c-modal-close">
          閉じる
          <span class="c-modal-closeIcon">
            <svg><use xlink:href='#icons-cross'/></svg>
          </span>
        </a>
        <div class="c-modal-image"></div>
        <h4 class="g-title-quaternary c-modal-title">データを承認して発注を完了しますか</h4>
        <p class="c-modal-body">
          この操作をするとキャンセルできません。
        </p>

        <div class="c-modal-btns">
          <a class="c-btn c-btn--primary" href="#">
            アクション
          </a>
        </div>
      </div>
    </div>

  </div>
{% endblock %}
