{% extends "base.html" %}
{% load static %}

{% block title %}パスワード再設定{% endblock %}
{% block titleog %}パスワード再設定{% endblock %}

{% block content %}
<div class="p-account">
  <header class="p-account-header">
    <div class="p-account-wrapper">
      <div class="p-account-logo">
        <svg class="c-logo">
            <use xlink:href='#icons-logo'/>
        </svg>
      </div>
    </div>
  </header>
  <main class="p-account-main">
    <div class="p-account-wrapper">
      <div class="p-account-message">
        {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
        {% endif %}
        <p>ご入力頂いたメールアドレスにパスワード再設定用メールを送信しました&#x2709;</p>
        <p>メールのリンクにアクセスしてパスワードの再設定をしてください</p>
      </div>
      <div class="p-account-links">
        <div class="p-account-links-link">
         <a href="{% url 'home' %}">
           <small>ホームへ</small>
         </a>
        </div>
      </div>
    </div>
  </main>
</div>
{% endblock %}
