{% extends "base.html" %}
{% block title %}パスワード変更{% endblock %}
{% block titleog %}パスワード変更{% endblock %}

{% block content %}
<div class="p-account">
  <header class="p-account-title">
    <h1>
      パスワードを変更&#x1F511;
    </h1>
  </header>
  <main class="p-account-main">
    <div class="p-account-wrapper">
      <div class="p-account-message">
        {% if messages %}
        {% for message in messages %}
        <div class="p-partsList-item p-account-message-m">
          <p class="c-btn">{{ message }}</p>
        </div>
        {% endfor %}
        {% endif %}
      </div>
      <form class="p-account-form" method="POST" action="{% url 'account_change_password' %}">{% csrf_token %}
        {% if form.errors %}
        {% for field in form %}
        {% for error in field.errors %}
        <div class="alert alert-danger">
          <strong>{{ error|escape }}</strong>
        </div>
        {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
          <strong>{{ error|escape }}</strong>
        </div>
        {% endfor %}
        {% endif %}
        <div class="p-account-form-item c-form-item">
          <input id="login-pass-old" name="oldpassword" type="password" class="c-form-input" required="" value="" onkeyup="this.setAttribute('value', this.value);">
          <label for="login-pass-old" class="c-form-label">
            現在のパスワード
          </label>
          <p class="c-form-error">パスワードを入力してください</p>
        </div>
        <div class="p-account-form-item c-form-item">
          <input id="login-pass" name="password1" type="password" class="c-form-input" required="" value="" onkeyup="this.setAttribute('value', this.value);">
          <label for="login-pass" class="c-form-label">
            新しいパスワード
          </label>
          <p class="c-form-error">パスワードを入力してください</p>
        </div>
        <div class="p-account-form-item c-form-item">
          <input id="login-pass2" name="password2" type="password" class="c-form-input" required="" value="" onkeyup="this.setAttribute('value', this.value);">
          <label for="login-pass2" class="c-form-label">
            新しいパスワード（確認）
          </label>
          <p class="c-form-error">パスワードを入力してください</p>
        </div>
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <div class="p-account-form-item c-form-item">
          <button class="c-btn c-btn--primary">パスワードを変更する</button>
        </div>
      </form>
    </div>
  </main>
</div>
{% endblock %}
