{% extends 'base.html' %}
{% load static %}

{% block title %}お問い合わせ{% endblock %}
{% block titleog %}お問い合わせ{% endblock %}

{% load account %}

{% block content %}
<div class="p-account">
  <header class="p-account-header">
    <div class="p-account-wrapper">
      <div class="p-account-logo">
        <svg class="c-logo">
            <use xlink:href='#icons-logo'/>
        </svg>
      </div>
    </div>
  </header>
  <main class="p-account-main">
    <div class="p-account-wrapper">
      <div class="p-account-message">
        <p>ご利用いただいているメールアドレスをご入力ください。</p>
        <p>パスワードリセットのURLをメールでお送りします。</p>
      </div>
      <form class="p-account-form" method="POST" action="{% url 'account_reset_password' %}">{% csrf_token %}
        {% if form.errors %}
        {% for field in form %}
        {% for error in field.errors %}
        <div class="alert alert-danger">
          <strong>{{ error|escape }}</strong>
        </div>
        {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
          <strong>{{ error|escape }}</strong>
        </div>
        {% endfor %}
        {% endif %}
        <div class="p-account-form-item c-form-item">
          <input id="login-email" name="email" type="text" class="c-form-input" required="" value="" onkeyup="this.setAttribute('value', this.value);">
          <label for="login-email" class="c-form-label">
            メールアドレス
          </label>
          <p class="c-form-error">メールアドレスを入力してください</p>
        </div>
        <div class="p-account-form-item c-form-item">
          <button class="c-btn c-btn--primary">パスワードリセット</button>
        </div>
      </form>
      <div class="p-account-links">
        <div class="p-account-links-link">
         <a href="{{ login_url }}">
           <small>ログイン画面に戻る</small>
         </a>
        </div>
      </div>
    </div>
  </main>
</div>
{% endblock %}
