/** TODO: DRY integrated with Internal pages **/
.pageTitleInternal {
  margin-bottom: 16px;
  font-size: 32px;
}

.noticeInternal {
  .clickable {
    transition: opacity 80ms;
  }

  .clickable:hover {
    opacity: 0.6;
  }
}

.noticeInternalList {
  & {
    width: 100%;
    color: black;
  }

  .listFunction {
    & {
      margin: 28px 0;
      position: relative;
      display: flex;
      align-items: center;
    }

    .query {
      width: 400px;
      background: white;
      height: 40px;
      border-radius: 20px;
      padding: 8px 24px 8px 48px;
    }

    .query::placeholder {
      color: #999999;
      letter-spacing: 2px;
      font-size: 12px;
    };

    .queryIcon {
      width: 16px;
      position: absolute;
      top: 12px;
      left: 16px;
    }

    .postCreateContainer {
      font-size: 10px;
      border-radius: 4px;
      border: 2px solid $color-primary;
      color: #fff;
      background: $color-primary;
      font-weight: bold;
      line-height: 28px;
      padding: 0px 20px;
      cursor: pointer;

      a:visited {
        color: #fff;
      }

      a:link {
        color: #fff;
      }
    }
  }

  .listTableContainer {
    .listTable {
      overflow-x: scroll;
      white-space: nowrap;
      min-height: 500px;


      &-payment {
        display: flex;
        align-items: center;

        svg {
          width: 16px;
          height: 16px;
        }
      }
    }

    table {
      border-collapse: collapse;
      display: inline-block;
      width: 2000px;
      overflow-y: visible;
    }

    th {
      padding: 16px 24px;
      font-size: 10px;
      color: #787878;
      font-weight: bold;
      position: relative;
    }

    td {
      min-width: 250px;
      max-width: 250px;
      font-size: 12px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      padding: 20px 0;
      text-align: center;
    }

    td:first-child {
      padding: 0 24px;
      font-weight: bold;
    }

    td:nth-child(2) {
      padding: 0 24px;
    }

    td:nth-child(3) {
      min-width: 150px;
      max-width: 200px;
    }

    td:nth-child(4) {
      min-width: 298px;
      max-width: 298px;
    }

    td:last-child {
      min-width: calc(2000px - 250px * 4 - 298px);
      max-width: calc(2000px - 250px * 4 - 298px);
    }

    tr:nth-child(odd) {
      background: #FFFFFF;
    }

    tr:nth-child(even) {
      background: #F8F8F8;
    }

    .arrow {
      width: 0;
      height: 0;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-top: 6px solid #787878;
      float: right;
      margin-top: 12px;
    }

    .tableItem {
      padding: 0 24px;
      font-size: 12px;
      height: 56px;
      line-height: 56px;
      border-bottom: 1px solid #DADBDD;
      color: black;
    }

    .tableItem:last-child {
      border-bottom: none;
    }

    .filterButton {
      cursor: pointer;
    }

    .filterModal {
      position: absolute;
      top: 64px;
      background: white;
      padding: 16px;
      box-shadow: 1px 2px 20px rgba(0, 0, 0, 0.08);
      border-radius: 8px;
      z-index: 10;
    }

    .filterModal.hidden {
      display: none;
    }

    .filterItemContainer {
      margin-bottom: 16px;
    }

    .filterItemContainer:last-child {
      margin-bottom: 0;
    }

    .pagination {
      padding: 40px 120px;
    }

    .pagination-item {
      display: inline-block;
      line-height: 32px;
      text-align: center;
      width: 32px;
      height: 32px;
      margin: 0 4px;
      color: $color-text-black;
    }

    .pagination-item-now {
      display: inline-block;
      line-height: 32px;
      text-align: center;
      width: 32px;
      height: 32px;
      margin: 0 4px;
      background: #548689;
      color: white;
      border-radius: 16px;
    }

    &-publish-btn {
      min-width: 100px;
      height: 30px;
      border-radius: 100px;

      &--undo {
        border: 0.5px solid #ff4242;
        color: #ff4242;
      }
    }
  }
}
