{% extends 'base.html' %}
{% load static %}

{% block title %}About Us | canal{% endblock %}
{% block titleog %}About Us | canal{% endblock %}


{% block content %}
<div class="p-policy">
  <header class="p-policy-header">
    <div class="p-policy-wrapper">
      <h1 class="g-title-primary">会社概要</h1>
    </div>
  </header>
  <main class="p-policyMain">
    <div class="p-policy-wrapper">
      <div class="p-policy-content">
        <section class="p-policy-section">
          <div class="p-policy-section-content">
            <table class="company-info">
              <tbody>
                <tr>
                  <td class="table-title">
                    社名
                  </td>
                  <td class="table-content">
                    福岡パッケージ株式会社
                  </td>
                </tr>
                <tr>
                  <td class="table-title">
                    設立
                  </td>
                  <td class="table-content">
                    2000年2月7日
                  </td>
                </tr>
                <tr>
                  <td class="table-title">
                    資本金
                  </td>
                  <td class="table-content">
                    1,000万円
                  </td>
                </tr>
                <tr>
                  <td class="table-title">
                    住所
                  </td>
                  <td class="table-content">
                    〒160-0022 東京都新宿区新宿3丁目5-6 417
                  </td>
                </tr>
                <tr>
                  <td class="table-title">
                    代表取締役
                  </td>
                  <td class="table-content">
                    庄嶋 毅
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </section>
      </div>
    </div>
  </main>
</div>

{% endblock %}
