{% extends 'base.html' %}
{% load static %}

{% block title %}About Us | canal{% endblock %}
{% block titleog %}About Us | canal{% endblock %}


{% block content %}
<div class="p-contact">
  <div class="p-contact-wrapper">
    <header class="p-contact-header">
      <h2>資料請求ありがとうございます！</h2>
    </header>
    <main class="p-contact-content">
      <div class="p-contact-content-message">
        <p>資料請求いただき、誠にありがとうございました。</p>
        <p>ご入力いただきました電話番号、メールアドレスにご連絡させていただきます。</p>
        <p>なお、ご連絡にお時間がかかることがございます。</p>
      </div>
    </main>
  </div>
</div>
{% endblock %}
