{% extends 'base.html' %}
{% load static %}

{% block title %}プライバシーポリシー | canal{% endblock %}
{% block titleog %}プライバシーポリシー | canal{% endblock %}

{% block content %}
<div class="p-policy">
  <header class="p-policy-header">
    <div class="p-policy-wrapper">
      <h1 class="g-title-primary">プライバシーポリシー</h1>
    </div>
  </header>
  <main class="p-policy-main">
    <div class="p-policy-wrapper">
      <div class="p-policy-content">
        <section class="p-policy-section">
          <div class="p-policy-section-header">
            <h3 class="g-title-tertiary">プライバシーポリシー</h3>
          </div>
          <div class="p-policy-section-content">
            <p>福岡パッケージ株式会社（以下「当社」といいます。）は、当社の「canal」及びこれに関連するサービス（以下総称して「本サービス」といいます。）をご利用されるユーザー（以下「ユーザー」といいます。）に関する個人情報を以下のプライバシーポリシー（以下「本プライバシーポリシー」といいます。）に基づき、適切に取り扱います。</p>
            <p>また、以下に示す方針を具現化するための個人情報保護マネジメントシステムを構築し、最新のＩＴ技術の動向、社会的要請の変化、経営環境の変動等を常に認識しながら、その継続的改善に、全社を挙げて取り組むことをここに宣言致します。</p>
            <ol>
              <li>（１）当社は全ての事業及び従業者の雇用、人事管理等において取扱う個人情報について、適切な取得・利用及び提供をし、特定された利用目的の達成に必要な範囲を超えた個人情報の取扱いを行いません。また、そのための措置を講じます。</li>
              <li>（２）当社は個人情報の取扱いに関する法令、国が定める指針その他の規範を遵守致します。</li>
              <li>（３）当社は個人情報の漏えい、滅失、き損などのリスクに対しては、合理的な安全対策を講じて防止すべく、事業の実情に合致した経営資源を注入し、個人情報のセキュリティ体制を継続的に向上させていきます。また、万一の際には速やかに是正措置を講じます。</li>
              <li>（４）当社は個人情報の取扱いに関する苦情及び相談に対して、迅速かつ誠実に対応致します。</li>
              <li>（５）個人情報保護マネジメントシステムは、当社を取り巻く環境の変化と実情を踏まえ、適時・適切に見直して継続的に改善をはかります。</li>
            </ol>
            <p>本方針は、全ての従業者に配付して周知させるとともに、必要に応じて利害関係者が入手可能なように当社のホームページ、パンフレット等に掲載することにより、いつでもどなたにも入手可能な措置を採るものとします。</p>
          </div>
        </section>
        <section class="p-policy-section">
          <div class="p-policy-section-header">
            <h3 class="g-title-tertiary">個人情報の取り扱いについて</h3>
          </div>
          <div class="p-policy-section-content">
            <h5 class="g-title-quinary">1.個人情報</h5>
            <p>本プライバシーポリシーにおいて、個人情報とは、個人情報の保護に関する法律（以下「個人情報保護法」といいます。）第２条第１項に定義する個人情報、すなわち、生存する個人に関する情報であって、当該情報に含まれる氏名、生年月日その他の記述等により特定の個人を識別することができるもの（他の情報と容易に照合することができ、それにより特定の個人を識別することができることとなるものを含む。）、または当該情報により特定の個人を識別することができるもの、または他の情報と容易に照合することができ、それにより特定の個人を識別することができるものを意味します。</p>

            <h5 class="g-title-quinary">2.個人情報の利用目的</h5>
            <p>当社は、ユーザーから個人情報を取得する際にユーザーに通知した目的、又は以下各号の目的（以下総称して「利用目的」といいます。）で、ユーザーの個人情報を利用いたします。</p>

            <ol>
              <li>（１）本サービスの提供及び各種事項の連絡や情報提供その他のユーザー対応（これらの業務を第三者に委託することを含む。）を行うため</li>
              <li>（２）本サービスの運用上、必要な範囲での外部サービスとの連携を行うため</li>
              <li>（３）本サービスの利用状況等を調査・分析（これらの業務を第三者に委託することを含む。）するため</li>
              <li>（４）本サービスの内容の改良・改善、新サービスの開発のため</li>
              <li>（５）本サービスに関する満足度を調査（調査業務を第三者に委託することを含む。）するため</li>
              <li>（６）個人情報を統計的に処理した情報を、集約し調査結果として公表するため</li>
              <li>（７）調査の協力依頼や各種イベントへの案内、その結果報告をするため</li>
              <li>（８）本サービス運営上のトラブルの対応のため</li>
              <li>（９）ユーザーの本人確認（本人確認に関する業務を第三者に委託することを含む。）のため</li>
              <li>（１０）その他、上記利用目的に付随する目的のため</li>
            </ol>


            <h5 class="g-title-quinary">3.個人情報の第三者提供</h5>
            <p>当社は、以下の場合を除き、あらかじめユーザーの同意を得ることなく個人情報を第三者に提供しません。</p>
            <ol>
              <li>（１）法令に基づく場合</li>
              <li>（２）人の生命、身体又は財産の保護のために必要な場合であって、あらかじめ本人の同意を得ることが困難なとき</li>
              <li>（３）公衆衛生の向上又は児童の健全な育成の推進のために特に必要がある場合であって、あらかじめ本人の同意を得ることが困難なとき</li>
              <li>（４）国の機関若しくは地方公共団体又はその委託を受けた者が、法令の定める事務を遂行することに対して協力する必要がある場合であって、本人の同意を得ることにより当該事務の遂行に支障を及ぼすおそれがあるとき</li>
              <li>（５）弁護士、税理士、公認会計士等の法令上守秘義務を負う専門家</li>
            </ol>

            <h5 class="g-title-quinary">4.個人情報取扱いの委託</h5>
            <p>当社は事業運営上、お客様により良いサービスを提供するために業務の一部を外部に委託しています。業務委託先に対しては、個人情報を預けることがあります。この場合、個人情報を適切に取り扱っていると認められる委託先を選定し、契約等において個人情報の適正管理・機密保持などによりお客様の個人情報の漏洩防止に必要な事項を取決め、適切な管理を実施させます。</p>

            <h5 class="g-title-quinary">5.保有個人データの開示等の請求</h5>
            <p>お客様は、当社に対してご自身の保有個人データの開示等（利用目的の通知、開示、内容の訂正・追加・削除、利用の停止又は消去、第三者への提供の停止）に関して、当社「個人情報に関するお問合わせ窓口」に申し出ることができます。その際、当社はお客様ご本人を確認させていただいたうえで、合理的な範囲内で対応いたします。開示等の申し出の詳細につきましては、下記の「個人情報に関する苦情・相談窓口」までお問い合わせください。なお、個人情報の開示を行う場合は、当社が定める手数料を頂戴する場合がございますので、予めご了承ください</p>

            <h5 class="g-title-quinary">6.個人情報を提供されることの任意性について</h5>
            <p>お客様が当社に個人情報を提供されるかどうかは、お客様の任意によるものです。ただし、必要な項目をいただけない場合、各サービス等が適切な状態で提供できない場合があります。</p>

            <h5 class="g-title-quinary">7.クッキー等の使用</h5>
            <ol>
              <li>（１）当社は、ユーザーのクッキー情報や、閲覧されたページ、ユーザーのご利用環境等の情報を自動的にユーザーのブラウザから取得し、利便性向上のため、セッションの維持及び保護等セキュリティのため、新しいサービスを検討するため、またサービスの内容をよりユーザーに適したものとするために利用いたします。</li>
              <li>（２）クッキー（Cookies）は、お客さまが当社のサイトに再度訪問された際、より便利に当サイトを閲覧していただくためのものであり、お客さまのプライバシーを侵害するものではなく、またお客さまのコンピューターへ悪影響を及ぼすことはありません。</li>
              <li>（３）当社のサイトでは個人情報を入力していただく部分にはすべてSSL（Secure Sockets Layer）のデータ暗号化システムを利用しております。さらに、サイト内における情報の保護にもファイアーウォールを設置するなどの方策を採っております。ただし、インターネット通信の性格上、セキュリティを完全に保証するものではありません。あらかじめご了承ください。</li>
            </ol>

            <h5 class="g-title-quinary">8.認定個人情報保護団体について</h5>
            <p>当社が加入する認定個人情報保護団体は、ありません。</p>

            <h5 class="g-title-quinary">9.法令等の遵守</h5>
            <p>当社は、ユーザーの個人情報を取扱うにあたり、日本国における個人情報保護法その他の関係法令、ガイドライン及び社内諸規程等を遵守します。</p>

            <h5 class="g-title-quinary">10.プライバシーポリシーの変更手続</h5>
            <ol>
              <li>
                <p>（１）当社は、以下の各号のいずれかに該当する場合には、本プライバシーポリシーを随時変更できるものとします。本プライバシーポリシーが変更された場合、変更後の本プライバシーポリシーが適用されるものとします。</p>
                <ol>
                  <li>（ア）本プライバシーポリシーの変更が、ユーザーの一般の利益に適合するとき</li>
                  <li>（イ）本プライバシーポリシーの変更が、契約の目的に反せず、かつ、変更の必要性、変更後の内容の相当性、本プライバシーポリシーの変更をすることがある旨の定めの有無及びその内容その他の変更に係る事情に照らして合理的なものであるとき</li>
                </ol>
              </li>
              <li>（２）当社は、本プライバシーポリシーの変更を行う場合は、変更後の本プライバシーポリシーの効力発生時期を定め、効力発生時期の2週間前までに、変更後の本プライバシーポリシーの内容及び効力発生時期をユーザーに通知、当社のWebサイト上への表示、その他当社所定の方法によりユーザーに周知するものとします。</li>
              <li>（３）前二項の規定にかかわらず、前項の本プライバシーポリシーの変更の周知後にユーザーが本サービスを利用した場合又は当社所定の期間内にユーザーが解約の手続をとらなかった場合、当該ユーザーは本プライバシーポリシーの変更に同意したものとします。</li>
            </ol>

            <h5 class="g-title-quinary">11.免責</h5>
            <p>当社は、以下の場合、何らの責任を負いません。</p>
            <ol>
              <li>（１）ユーザー本人が自ら第三者に個人情報を明らかにした場合</li>
              <li>（２）ユーザーが直接入力した情報が第三者をして知り得る状況にあり、第三者よりユーザー本人が特定されてしまった場合</li>
              <li>（３）ハッカー等による不当な行為により、ユーザー及び第三者に損害が生じた場合</li>
            </ol>

            <h5 class="g-title-quinary">12.未成年のユーザーの情報</h5>
            <p>ユーザーが未成年者の場合は、ご両親、保護者又は後見人の方が本プライバシーポリシー及び利用規約等の内容に同意され、ユーザーが本プライバシーポリシー及び利用規約等に基づき本サービスをご利用いただくことについて包括的に同意されることが必要となります。</p>
          </div>
        </section>
      </div>
    </div>
  </main>

  <footer class="p-policy-footer">
    <div class="p-policy-wrapper">
      <h5 class="g-title-quinary">【個人情報に関する苦情・相談窓口】</h5>
      <p>お客様の個人情報に関するお問い合わせにつきましては、下記窓口で受け付けております。</p>
      <p>〒160-0022 東京都新宿区新宿3丁目5-6 417</p>
      <table>
        <tr>
          <td>所属部署</td>
          <td>：canal 個人情報問い合わせ係</td>
        </tr>
        <tr>
          <td>メールアドレス</td>
          <td>：info@canal.ink</td>
        </tr>
        <tr>
          <td>電話番号</td>
          <td>：03-4530-3353（受付時間　平日9:00〜18:00）</td>
        </tr>
      </table>
    </div>
  </footer>
</div>
{% endblock %}


{% block javascript %}
{% endblock %}
