{% extends 'base.html' %}
{% load static %}

{% block title %}利用規約 | canal{% endblock %}
{% block titleog %}利用規約 | canal{% endblock %}

{% block content %}
<div class="p-policy">
  <header class="p-policy-header">
    <div class="p-policy-wrapper">
      <h1 class="g-title-primary">利用規約</h1>
    </div>
  </header>
  <main class="p-policy-main">
    <div class="p-policy-wrapper">
      <div class="p-policy-content">
        <section class="p-policy-section">
          <div class="p-policy-section-content">
            <p>本利用規約（以下「本規約」と言います。）は、福岡パッケージ株式会社（以下「当社」と言います。）が当社ウェブサイト（第２条において定義します。）を通じて提供する、デザイン、印刷、加工等のサービス（以下総称して「本サービス」と言います。）の利用条件及び本サービスの利用者と当社との間の権利義務関係について定めたものです。本サービスの利用に際しては、本規約の全文をお読みいただいた上で、本規約に同意していただく必要があります。</p>
          </div>
        </section>
        <section class="p-policy-section">
          <div class="p-policy-section-header">
            <h3 class="g-title-tertiary">第１条（本サービスの内容及び当社の役割）</h3>
          </div>
          <div class="p-policy-section-content">
            <p>ユーザー（次条で定義します。）は本項各号に記載された本サービスの内容及び当社の役割を理解し、これを了解した上で、本サービスを利用するものとします。</p>
            <ol>
              <li>（１）本サービスの提供に当たって、当社は、自らの裁量で本サービスの一部の実施をパートナー企業等に委託することができ、ユーザーは、当社が、ユーザーに対する本サービスの一部をパートナー企業その他の第三者に委託することを予め承諾し、当社が、本サービスの実施をいずれのパートナー企業等に委託するかについて、一切の異議を述べることができないものとします。また、当社は、自らが本サービスの実施を委託したパートナー企業等に係る情報及び当該委託の理由をユーザーに開示する義務を負わないものとします。</li>
              <li>（２）当社は、本サービスにおいて提供する商品、デザイン、サービスその他の情報等の内容について、予告なく変更することがあります。</li>
              <li>（３）本サービスの性質上、パートナー企業の繁忙状況その他の事情によっては、ユーザーからの需要全てに完全に対応することができない場合があります。</li>
            </ol>
          </div>
        </section>

        <section class="p-policy-section">
          <div class="p-policy-section-header">
            <h3 class="g-title-tertiary">第２条（定義）</h3>
          </div>
          <div class="p-policy-section-content">
            <h5 class="g-title-quinary">1.定義</h5>
            <p>本利用規約において、以下の用語は別途定義されている場合及び文脈上別異に解すべき場合を除き、以下の意味を有するものとします。</p>
            <ol>
              <li>（１）ユーザー」とは、本規約の内容に同意して、日本国内において本サービスを利用する日本在住の個人を指します。</li>
              <li>（２）「印刷サービス」とは、本サービスのうち、ユーザーが入稿した印刷データを、当社が用意する商品仕様の中からユーザーが選択した内容で印刷・加工し、ユーザーが指定する場所に配送するサービスを意味します。</li>
              <li>（３）「印刷データ」とは、印刷サービスの対象となる原稿のことを意味します。</li>
              <li>（４）「制作サービス」とは、本サービスの印刷サービスで使用する印刷データの制作を行うサービスです。</li>
              <li>（５）「制作成果物」とは、制作サービスにおいて制作する印刷データを意味します。</li>
              <li>（６）「個人情報」とは、個人情報の保護に関する法律（平成15年法律第57号。その後の改正を含みます。）に定める「個人情報」を指すものとし、ユーザーが入力した氏名、郵便番号、住所、生年月日、性別、職業、電話番号、アカウント情報、クレジットカード情報、利用履歴等で、かつ特定の個人を識別できる情報（他の情報と容易に照合することができ、それにより特定の個人を識別することとなるものを含みます。）をいいます。</li>
              <li>（７）「知的財産権」とは、著作権、特許権、実用新案権、意匠権、商標権その他の知的財産権（それらの権利を取得し、又はそれらの権利につき登録等を出願する権利を含み、著作権については著作権法（昭和45年法律第48号、その後の改正を含みます。）第27条及び第28条に定める権利を含みます。）を意味します。</li>
              <li>（８）「当社ウェブサイト」とは、そのドメインが「canal.ink」である、当社が運営するウェブサイト（当社のウェブサイトのドメイン又はその内容が変更された場合は、当該変更後のウェブサイトを含みます。）を意味します。</li>
              <li>（９）「パートナー企業」とは、当社がユーザーに対して本サービスの提供を行うための補助者として、当社との間で本サービスに関する契約を締結した個人又は法人を意味します。</li>
              <li>（１０）「本印刷物」とは、印刷サービスにおいて印刷・加工した印刷物をいいます。</li>
              <li>（１１）「本契約条件」とは、個別契約（第10条第1項において定義します。）に関して、ユーザーが当社ウェブサイトにおいて入力し、及び当社ウェブサイト及び当社からユーザーに対して送信されるメールその他の方法を通じてユーザーに通知される、当該個別契約に適用される一切の契約条件（本印刷物の大きさ、枚数、本印刷物に使用する原紙の種類、本印刷物の発送先、本サービスに関する注意事項等を含みますが、これらに限られません。）をいいます。</li>
              <li>（１２）「本サービス利用契約」とは、本規約に基づいて当社とユーザーの間で締結される、本サービスの利用に関する契約を意味します。</li>
              <li>（１３）「本料金」とは、個別契約に基づく本サービス提供の対価として、ユーザーが当社に対して支払う金銭（本印刷物の配送費用その他本サービス提供に関してユーザーが負担する費用を含むものとします。）をいいます。</li>
              <li>（１４）「ユーザー提供素材」とは、印刷データで使用する文章、画像、イラスト、映像、音楽、音声、その他のコンテンツのうち、ユーザーが提供するものを意味します。</li>
              <li>（１５）「利用者情報」とは、本サービスに関して当社が取得する、ユーザー又はその担当者の個人情報（次号で定義します。）を意味し、その詳細は「個人情報の取り扱いについて」において定義されます。</li>
              <li>（１６）「アカウント情報」とは、本サービスにおいてユーザーが使用するメールアドレス、ユーザーID及びパスワードを意味します。</li>
              <li>（１７）「本規約」とは、本利用規約、プライバシーポリシー及びガイドをいい、これらはすべて本規約を構成するものとします。</li>
              <li>（１８）「プライバシーポリシー」とは、弊社が定めるプライバシーポリシー（名称の如何を問わないものとします。）をいいます。</li>
            </ol>
            <h5 class="g-title-quinary">2.適用</h5>
            <p>本条の定義は、別途定義されている場合及び文脈上別異に解すべき場合を除き、本利用規約のほか、プライバシーポリシー及びガイドにおいても、適用されるものとします。本規約の内容と、前項のルールその他の本規約外における本サービスの説明等とが異なる場合は、本規約の規定が優先して適用されるものとします。</p>
          </div>
        </section>

        <section class="p-policy-section">
          <div class="p-policy-section-header">
            <h3 class="g-title-tertiary">第３条（個人情報の取扱い）</h3>
          </div>
          <div class="p-policy-section-content">
            <p>1.当社は、本サービスの提供に関し、利用者情報を、別途定める「プライバシーポリシー」に従って取り扱い、ユーザーはこの「プライバシーポリシー」に従って当社が利用者情報を取り扱うことについて同意するものとします。</p>
            <p>2.ユーザーが当社ウェブサイト上において自発的にユーザー自身の個人情報を開示する場合には、その情報は第三者によって閲覧、取得される可能性があり、当該情報の開示によりユーザーが被る一切の損害について当社は何ら責任を負わないことを、予め了承するものとします。</p>
          </div>
        </section>

        <section class="p-policy-section">
          <div class="p-policy-section-header">
            <h3 class="g-title-tertiary">第４条（権利帰属等）</h3>
          </div>
          <div class="p-policy-section-content">
            <p>1.当社ウェブサイト及び本サービスに関する知的財産権（文章、画像、イラスト、映像、音楽、音声、オンラインデザイン素材、その他のコンテンツに関する知的財産権を含みますが、これらに限られません。）は全て当社又は当社にライセンスを許諾している者に帰属しており、本規約に基づく本サービスの利用許諾は、当社ウェブサイト又は本サービスに関する知的財産権について当社又は当社にライセンスを許諾している者による使用許諾を意味するものではありません。</p>
            <p>2.制作成果物に関する知的財産権は、ユーザー提供素材を除き、全て当社又は当社にライセンスを許諾している者に帰属します。当社は、ユーザーに対し、本サービスを通じてのみ、制作成果物を使用することを許諾します（なお、当該使用許諾によっても、ユーザーに対し、制作成果物に係る知的財産権が移転することはありません。）。</p>
            <p>3.ユーザー提供素材及び第9条第2項に従ってユーザーが入稿した印刷データに関する知的財産権については、ユーザー又はユーザーに当該権利を許諾した第三者に帰属するものとし、ユーザーは、当社及びパートナー企業その他の当社が本サービスの提供に当たってその業務の一部を委託した第三者に対し、当社による本サービスの提供及び本サービスの改善（本サービスに付随するサービスの開発、研究及び改善等を含む。）に必要な範囲で、当該印刷データの利用を無償で許諾するものとします。また、ユーザーは、当該印刷データ及びユーザー提供素材の利用が第三者の知的財産権、肖像権、プライバシー権、名誉権その他一切の権利を侵害しないことを、当社に対して表明し、及び保証するものとし、これが真実又は正確でなかった場合に当社又はパートナー企業が被った一切の損害又は費用（弁護士費用を含みます。）を賠償するものとします。</p>
          </div>
        </section>

        <section class="p-policy-section">
          <div class="p-policy-section-header">
            <h3 class="g-title-tertiary">第５条（登録及び本サービス利用契約）</h3>
          </div>
          <div class="p-policy-section-content">
            <p>1.本サービスの利用を希望する者（以下「登録希望者」といいます。）は、本規約を遵守することに合意し、かつ当杜の定める一定の情報（以下「登録事項」といいます。）を当社の定める方法で当社に提供することにより、当社に対し、本サービスの利用の登録を申請すること（以下「登録申請」といいます。）ができます。登録申請は、必ず登録希望者本人（ただし、登録希望者本人が法人である場合には、登録希望者を代理して登録申請を行うことについて正当な権限を有する登録希望者の役員又は従業員とし、当社はその認識にかかわらず、当該役員又は従業員が当該権限を有しているものとみなすことができるものとします。以下、同様です。）が行わなければならず、また、登録希望者は、登録事項に関し、当社に対して正確な情報を提供しなければなりません。</p>
            <p>2.当社は、当社の基準に従って、前項に基づく登録申請を行った登録希望者（以下「登録申請者」といいます。）の登録の可否を判断し、当社が登録を認める場合にはその旨を登録申請者に通知します。登録申請者のユーザーとしての登録は、当社が本項の通知を行ったことをもって完了するものとします。</p>
            <p>3.前項に定める登録の完了をもって、本サービス利用契約がユーザーと当社との間に成立し、ユーザーは本サービスを本規約に従い利用することができるようになります。なお、ユーザー本人が法人である場合、当該ユーザーによる本サービスの利用に関する一切の行為について、当社はその認識にかかわらず、当該ユーザー自身の行為又は当該ユーザーを代理して行為することについて正当な権限を有するユーザーの役員又は従業員の行為とみなすことができるものとします。</p>
            <p>4.当社は、登録申請者が、以下の各号のいずれかの事由に該当する場合は、登録及び再登録を拒否することがあり、またその理由について登録申請者に対する一切の開示義務を負いません。</p>
            <ol>
              <li>（１）当社に提供した登録事項の全部又は一部につき虚偽、誤り又は記載漏れがあった場合</li>
              <li>（２）満18歳未満である場合</li>
              <li>（３）既にユーザーとして登録されている場合</li>
              <li>（４）未成年者、成年被後見人、被保佐人又は被補助人のいずれかであり、かつ法定代理人、後見人、保佐人又は補助人の同意等を得ていなかった場合</li>
              <li>（５）暴力団、暴力団員、右翼団体、犯罪集団、その他の反社会的勢力又はこれに準ずる者（以下「反社会的勢力等」といいます。）である場合又は労務提供、資金提供その他を通じて反社会的勢力等の維持、運営若しくは経営に協力、関与する等反社会的勢力等との何らかの関係を有していると当社が判断した場合</li>
              <li>（６）過去に当社との契約に違反した者又はその関係者であると当社が判断した場合</li>
              <li>（７）第14条第1項に定める措置を受けたことがある場合</li>
              <li>（８）当社による本サービスの運営及びその提供又は他のユーザーによる本サービスの利用を妨害し、若しくはこれらに支障をきたす行為を行った場合又はそのおそれがあると当社が判断した場合</li>
              <li>（９）その他、当社が登録を適当でないと判断した場合</li>
            </ol>
            <p>5.登録申請者による登録申請に対し、当社がその登録を拒否したことによって登録申請者に生じた損害について、当社は一切の責任を負いません。</p>
          </div>
        </section>

        <section class="p-policy-section">
          <div class="p-policy-section-header">
            <h3 class="g-title-tertiary">第６条（登録事項の変更）</h3>
          </div>
          <div class="p-policy-section-content">
            <p>1.ユーザーは、登録事項に変更があった場合、当社の定める方法により当該変更事項を遅滞なく当社に通知するものとします。</p>
            <p>2.登録事項に変更があったにもかかわらず、ユーザーが当社に対してその変更を通知しない場合、当該ユーザーは当該登録事項の変更を当社に対して主張できず、当社は、当該ユーザーについて当該登録事項に変更がないものとして取り扱うことができます。また、これによってユーザーに生じた損害について、当社は一切の責任を負いません。</p>
          </div>
        </section>

        <section class="p-policy-section">
          <div class="p-policy-section-header">
            <h3 class="g-title-tertiary">第７条（アカウント情報の管理）</h3>
          </div>
          <div class="p-policy-section-content">
            <p>1.ユーザーは、自己の責任において、アカウント情報を適切に管理及び保管する責任を負います。ユーザーは自己のアカウント情報を第三者に利用させ、又は貸与、譲渡、名義変更、売買、質入等のいかなる処分もすることができません。</p>
            <p>2.ユーザーによるアカウント情報の管理不十分、使用上の過誤、第三者の使用等によって生じた損害に関する責任はユーザーが負うものとし、当社はこれについて一切の責任を負いません。</p>
            <p>3.ユーザーの過失によってアカウント情報が不正に利用されたこと等により当社に損害が生じた場合、ユーザーは当社に対し当該損害を賠償する責任を負うものとします。</p>
            <p>4.アカウント情報が第三者に漏えいした場合又はそのおそれがある場合、ユーザーは当社に対して遅滞なくその旨を連絡するものとします。また、この場合、当該ユーザーは当該漏えいに対処するために、当社に必要な協力をするものとします。</p>
          </div>
        </section>

        <section class="p-policy-section">
          <div class="p-policy-section-header">
            <h3 class="g-title-tertiary">第８条（利用契約上の地位の譲渡等）</h3>
          </div>
          <div class="p-policy-section-content">
            <p>1.ユーザーは、当社の書面による事前の承諾なく、本サービス利用契約及び個別契約（次条第1項において定義します。以下本条において同じです。）上の地位又は本規約に基づく権利若しくは義務につき、第三者に対し、譲渡、移転、担保設定、その他の処分をすることはできません。</p>
            <p>2.当社は、本サービスにかかる事業を他社に譲渡した場合には、当該事業譲渡に伴い本サービス利用契約及び個別契約上の地位、本規約に基づく権利及び義務並びにユーザーの登録事項その他の利用者情報等を当該事業譲渡の譲受人に譲渡することができるものとし、ユーザーは、かかる譲渡につき本項において予め同意したものとします。なお、本項に定める事業譲渡には、会社分割その他本サービスにかかる事業が移転するあらゆる場合を含むものとします。</p>
          </div>
        </section>

        <section class="p-policy-section">
          <div class="p-policy-section-header">
            <h3 class="g-title-tertiary">第９条（個別契約の成立手続等）</h3>
          </div>
          <div class="p-policy-section-content">
            <p>1.ユーザーは、当社ウェブサイトを通じて又はユーザーから当社への個別の見積り依頼に応じて当社が作成した見積書によって本契約条件及び本料金の金額を確認した上で、当社所定の方法により本サービスの提供に関する個別契約（以下「個別契約」といいます。）の申込みを行うことができるものとし、当該ユーザーからの申込みに際し、当社は、電話、電子メールその他の手段により、ユーザーに対して本契約条件その他の条件等を確認することができるものとします。当社は、ユーザーによる本契約条件の指定及び本料金の支払方法その他当社ウェブサイトに定める情報の入力が完了したことを確認した時点で、ユーザーに対して注文内容の確認通知を行うことで当該個別契約に関するユーザーの申込みを承諾するものとし、当該個別契約は、この通知の時をもって成立するものとします。</p>
            <p>2.ユーザーは、個別契約の成立後、当社ウェブサイト上の定めに従って印刷データの入稿、その他本サービスの利用に必要な作業（以下「受付確定前作業」といいます。）を行うものとし、当社は、当該作業内容を確認し、ユーザーに対して必要な修正を求めることができるものとします。</p>
            <p>3.ユーザーは、個別契約の成立後、次項に定める受付日確定通知の前に限り、当社ウェブサイトの定めに従って個別契約を解除できるものとし、この場合において既にユーザーが当社に対して本料金を支払っていたときには、当社は、当社ウェブサイトの定めに従って、当該支払い済みの本料金をユーザーに返還するものとします（この場合、当該本料金の返還に要する費用はユーザーが負担するものとします。）。また、個別契約の成立後、当社において14日以内に受付確定前作業の完了が確認できない場合は、当社が別途認めた場合を除き、ユーザーから個別契約の解除の意思表示があったものとみなします。当社は、当該個別契約の解除によりユーザーに何らかの損害が生じた場合でも、これについて一切の責任を負いません。</p>
            <p>4.個別契約における受付確定前作業の完了を当社が確認した時点で、当社は、ユーザーに対して受付日確定通知を行い、当該個別契約における具体的なサービス内容を確定させるものとし、当該受付日確定通知の時点以降、ユーザーはその理由にかかわらず、当該個別契約を解除することができないものとします。</p>
            <p>5.前三項の定めにかかわらず、制作サービスにおいて、第1項に定める個別契約の成立時点以降、ユーザーはその理由にかかわらず、当該個別契約を解除することができないものとします。</p>
            <p>6.当社は、個別契約の成立又は受付日確定通知の前後を問わず、ユーザー若しくはユーザーによる注文内容（受付確定前作業の内容を含むものとします。）が以下の事由に該当し、又は該当するおそれがあると判断した場合は、ユーザーに対して通知することにより個別契約を解除することができるものとし、当該解除の理由について、ユーザーに対してこれを開示する義務を負わず、また、当該解除についてユーザー及びその他第三者に対して一切の責任を負わないものとします。</p>
            <ol>
              <li>（１）注文内容が第三者の知的財産権、肖像権、プライバシー権、名誉権その他一切の権利を侵害するものである場合</li>
              <li>（２）注文内容が法令又は公序良俗に反するものである場合（印刷データがわいせつ表現若しくは残虐表現を含む場合、紙幣・有価証券等と誤認されるおそれのある場合を含みますが、これに限られません。）</li>
              <li>（３）ユーザーの業態、及び印刷データが、当社又はパートナー企業が定める基準に満たない場合</li>
              <li>（４）ユーザーが第14条第1項に定める措置を受けた場合</li>
              <li>（５）その他、個別契約の履行、継続が不適切であると当社が判断する場合</li>
            </ol>
          </div>
        </section>

        <section class="p-policy-section">
          <div class="p-policy-section-header">
            <h3 class="g-title-tertiary">第１０条（本料金の支払い及び本印刷物の配送等）</h3>
          </div>
          <div class="p-policy-section-content">
            <p>1.ユーザーは、個別契約の成立後、当社ウェブサイトの定めに従って、当社に対して遅滞なく本料金を支払うものとします。当社とユーザーとの間の個別契約に基づく本料金及びその支払方法は、当社ウェブサイトにおいて定めるところによるものとします。また、ユーザーが本サービスにおいて入力した決済手段若しくは金融機関の情報が第三者に利用されたこと又はこれら情報の内容が不正確であったこと等によってユーザーに生じた損害について、当社は一切の責任を負いません。</p>
            <p>2.当社は、本契約条件に従い本サービスを提供しますが、本印刷物が実際にユーザーに配送される日については何ら保証しません。当社が本印刷物の配送手続を完了した後、ユーザーの受取拒否、長期不在その他ユーザー側の事情により本印刷物の配送が完了しなかった場合には、当該本印刷物は当社又はパートナー企業に返送され、これ以降、当該本印刷物についてユーザーが再配送を希望する場合には、当社に対し、別途当社が定める手数料を支払う必要があることをユーザーは予め了承するものとします。また、この場合、当社は、当社又はパートナー企業に返送された本印刷物について、当社又はパートナー企業に返送された日（同日を含みます。）から10日間が経過した日（同日を含みます。）の翌日以降、当社の判断により破棄することができるものとし、ユーザーはこれを予め了承するものとします。</p>
            <p>3.ユーザーは、本印刷物について品質不良の本印刷物を発見した場合には、未使用の場合に限り、本印刷物の配送後1週間以内（配送を受けた日を含みます。）に、その旨を当社に連絡することができます。当該連絡を受けた当社が本印刷物に品質不良があることを認めた場合には、当社は再度、品質不良のない本印刷物を製造の上、ユーザーに配送するものとします。この場合、ユーザーは品質不良のある本印刷物の当社への返送について、当社の指示に従うものとします。また、ユーザーは、当該本印刷物の再配送を希望しない場合には、当該再配送に代えて本料金の返還を当社に対して求めることができ、当社は当該求めに応じ、当社の費用負担において速やかに本料金を当該ユーザーに返還するものとします。なお、本印刷物の品質不良によりユーザーが被った損害について、当社は、いかなる場合においても当該個別契約に係る本料金の金額を超えて補償しないものとします。</p>
          </div>
        </section>

        <section class="p-policy-section">
          <div class="p-policy-section-header">
            <h3 class="g-title-tertiary">第１１条（秘密保持）</h3>
          </div>
          <div class="p-policy-section-content">
            <p>1.ユーザーは、本サービスに関連して当社がユーザーに対して秘密に取り扱うことを求めて開示した非公知の情報について、当社の書面による承諾がある場合を除き、秘密に取り扱わなければなりません。ユーザーは、本サービスを退会した後も、本項の義務を遵守する責任を負います。</p>
            <p>2.当社は、利用者情報、ユーザーから提供を受けた印刷データ、本サービスにおける過去の注文情報その他本サービスに関して入手したユーザーの情報を、当社のプライバシーポリシーに従って適切に取り扱います。また、当社は、法令上要求される場合、裁判所、規制当局その他の公的機関の要求があった場合、本サービスの提供に必要な場合その他当社が合理的に開示する必要があるものと判断した場合を除き、これらの情報をユーザーその他の第三者に開示する義務を負わないものとします。</p>
          </div>
        </section>

        <section class="p-policy-section">
          <div class="p-policy-section-header">
            <h3 class="g-title-tertiary">第１２条（禁止事項）</h3>
          </div>
          <div class="p-policy-section-content">
            <p>ユーザーは、本サービスの利用に当たり、以下の各号のいずれかに該当する行為をしてはなりません。</p>
            <ol>
              <li>（１）法令に違反する行為又は犯罪行為に関連する行為</li>
              <li>（２）公序良俗に反する行為</li>
              <li>（３）当社、パートナー企業、本サービスの他の利用者その他の第三者に対する詐欺的又は脅迫的行為</li>
              <li>（４）当社、パートナー企業、本サービスの他の利用者その他の第三者の知的財産権、肖像権、プライバシー権、名誉権その他の権利又は利益を侵害する行為又はそのおそれのある行為（本サービス内容の全部又は一部の複製、公衆送信、頒布、翻訳、翻案、転載若しくは再利用等を含むがこれに限られません。</li>
              <li>
                <p>（５）本サービスを通じ、以下に該当し、又は該当すると当社が判断する印刷データの入稿を行うこと</p>
                <ol>
                  <li>（イ）第三者の知的財産権、肖像権、プライバシー権、名誉権その他一切の権利を侵害するものである場合</li>
                  <li>（ロ）法令又は公序良俗に反するものである場合（わいせつ表現若しくは残虐表現を含む場合又は紙幣若しくは有価証券等と誤認されるおそれのある表現である場合を含みますが、これに限られません。）</li>
                </ol>
              </li>
              <li>（６）本サービスのネットワーク又はシステム等に過度な負荷をかける行為</li>
              <li>（７）本サービスの運営を妨害するおそれのある行為又は当社若しくは本サービスの信用を毀損するおそれのある行為</li>
              <li>（８）当社のネットワーク又はシステム等に不正にアクセスし、又は不正なアクセスを試みる行為</li>
              <li>（９）当社の提供する本サービスのユーザーインターフェースやソフトウェア等に改変を加える行為</li>
              <li>（１０）第三者に成りすます行為</li>
              <li>（１１）本サービスの他の利用者の情報の収集行為</li>
              <li>（１２）当社、パートナー企業、本サービスの他の利用者その他の第三者に不利益、損害又は不快感を与える行為</li>
              <li>（１３）当社ウェブサイト上で掲載する本サービス利用に関するルールを含む本規約に違反する行為</li>
              <li>（１４）パートナー企業による本サービスの提供等をことさらに妨げる行為</li>
              <li>（１５）反社会的勢力等への利益供与</li>
              <li>（１６）反社会的勢力等を代理し、これらの者の依頼を受け、又は実質的にこれらの者の指示や依頼の下で本サービスを利用する行為</li>
              <li>（１７）前各号の行為を直接若しくは間接に惹起し、又は容易にする行為</li>
              <li>（１８）その他、当社が不適切と判断する行為</li>
            </ol>
          </div>
        </section>

        <section class="p-policy-section">
          <div class="p-policy-section-header">
            <h3 class="g-title-tertiary">第１３条（本サービスの停止等）</h3>
          </div>
          <div class="p-policy-section-content">
            <p>1.当社は、以下のいずれかの事由が存在する場合には、ユーザーに事前に通知することなく本サービスの全部又は一部の提供を停止又は中断することができるものとします。</p>
            <ol>
              <li>（１）本サービスにかかるコンピューターシステムの点検又は保守作業を緊急に行う必要がある場合</li>
              <li>（２）当社のコンピューターや通信回線等、本サービスの提供に必要な設備等が事故等により使用できなくなった場合</li>
              <li>（３）地震、落雷、火災、風水害、停電、天災地変等により本サービスの運営が不可能ないし著しく困難となった場合</li>
              <li>（４）戦争、変乱、暴動、騒乱、労働争議等その他不可抗力により本サービスの提供が不可能ないし著しく困難となった場合</li>
              <li>（５）法令又はこれに基づく命令等により本サービスの提供が不可能ないし著しく困難となった場合</li>
              <li>（６）その他当杜が本サービスの停止又は中断が必要であると判断した場合</li>
            </ol>
            <p>2.本条に基づき当社が行った措置によってユーザーに生じた損害について、当社は一切の責任を負いません。</p>
          </div>
        </section>

        <section class="p-policy-section">
          <div class="p-policy-section-header">
            <h3 class="g-title-tertiary">第１４条（登録抹消等）</h3>
          </div>
          <div class="p-policy-section-content">
            <p>1.当社は、ユーザーが、以下の各号のいずれかの事由に該当する場合は、事前に通知又は催告することなく、当該ユーザーについて本サービスの利用を一時的に停止し、又はユーザーとしての登録を抹消し若しくは本サービス利用契約を解除することができます。また、当社は、ユーザーについてこれらの事由の該当性を確認するために、当社が必要と判断する本人確認及び事実確認等を行うことができ、当該確認が完了するまでの間、当該ユーザーに対する本サービスの利用を一時的に停止する等の必要な措置を講ずることができます。当社は、本項に定める措置を講じた場合、ユーザーに対してその理由を開示する義務を負わないものとし、ユーザーは予めこれを了承するものとします。</p>
            <ol>
              <li>（１）本規約のいずれかの条項に違反した場合</li>
              <li>（２）登録事項に虚偽の事実があることが判明した場合</li>
              <li>（３）支払停止若しくは支払不能となり、又は破産手続開始、民事再生手続開始、会社更生手続開始、特別清算手続開始若しくはこれらに類する手続の開始の申立てがあった場合</li>
              <li>（４）1年以上、本サービスへのログインがない場合</li>
              <li>（５）当社からの問い合わせその他の回答を求める連絡に対して、30日以上応答がない場合</li>
              <li>（６）第5条第4項各号に該当する場合</li>
              <li>（７）その他、当社が本サービスの利用、ユーザーとしての登録又は本サービス利用契約の継続が適当でないと判断した場合</li>
            </ol>
            <p>2.前項各号のいずれかの事由に該当した場合、ユーザーは、当社に対して負っている債務の一切について当然に期限の利益を失い、直ちに当社に対して全ての債務の支払を行わなければなりません。</p>
            <p>3.本条に基づく当社の措置によってユーザーに生じた損害について、当社は一切の責任を負いません。</p>
            <p>4.当社は本条に基づく登録抹消措置の対象となったユーザーについて、その個人情報及びアカウント情報を引き続き保有する義務を負わないものとします。</p>
          </div>
        </section>

        <section class="p-policy-section">
          <div class="p-policy-section-header">
            <h3 class="g-title-tertiary">第１５条（退会）</h3>
          </div>
          <div class="p-policy-section-content">
            <p>1.ユーザーは、当社が定める方法で当社に通知することにより、本サービスから退会し、自己のユーザーとしての登録を抹消することができます。</p>
            <p>2.退会に当たり、当社に対して負っている債務がある場合は、ユーザーは、当社に対して負っている債務の一切について当然に期限の利益を失い、直ちに当社に対して全ての債務の支払を行わなければなりません。</p>
            <p>3.退会後の個人情報の取扱いについても、第3条の規定に従うものとします。なお、当社は退会したユーザーについて、その個人情報及びアカウント情報を引き続き保有する義務を負わないものとします</p>
          </div>
        </section>


        <section class="p-policy-section">
          <div class="p-policy-section-header">
            <h3 class="g-title-tertiary">第１６条（本サービスの内容の変更及び終了）</h3>
          </div>
          <div class="p-policy-section-content">
            <p>1.当社は、当社の都合により、本サービスの内容を変更し、又は本サービスの提供を終了することができます。当社が本サービスの提供を終了する場合、当社はユーザーに事前に通知するものとします。</p>
            <p>2.本条に基づき当社が行った措置によってユーザーに生じた損害について、当社は一切の責任を負いません。</p>
          </div>
        </section>

        <section class="p-policy-section">
          <div class="p-policy-section-header">
            <h3 class="g-title-tertiary">第１７条（接続環境等）</h3>
          </div>
          <div class="p-policy-section-content">
            <p>1.ユーザーが本サービスの提供を受けるために必要なコンピューター、スマートフォンその他の電子機器及びインターネット利用等に必要なソフトウェア、通信回線その他の通信環境等は、ユーザーの責任と負担において準備し、維持するものとします。また、それら電子機器、ソフトウェア及び通信環境等の設置や操作についても、ユーザーの責任と負担において行うものとします。</p>
            <p>2.当社は、本サービスがあらゆる電子機器等に適合することを保証しません。また、ユーザーが本サービスを利用するために必要な電子機器等の準備、設置、操作に関して一切関与しません。</p>
            <p>3.ユーザーは、本サービスを利用する際に複数のネットワークを経由する場合があることを理解し、接続しているネットワークや電子機器等によっては、ネットワークへの接続や経由等の過程でユーザーの送信したデータや信号等の内容が意図せずに変更される可能性があることを理解した上で、本サービスを利用するものとします。また、このようなデータや信号等の内容の意図しない変更、システム障害、通信エラーやバグの発生その他の通信上の障害によってユーザーが受けた損害について、当社は一切の責任を負いません。</p>
            <p>4.ユーザーが本サービスの利用に関してインターネット回線を通じて行う情報の伝達及び意思表示は、当社のサーバーに当該情報や意思表示に関するデータや信号等が送信され、当社のシステムに当該情報や意思表示の内容が反映された時点をもって、当社に到達したものとみなします。</p>
          </div>
        </section>

        <section class="p-policy-section">
          <div class="p-policy-section-header">
            <h3 class="g-title-tertiary">第１８条（保証の否認及び免責）</h3>
          </div>
          <div class="p-policy-section-content">
            <p>1.当社は、本サービスがユーザーの特定の目的に適合すること、ユーザーの期待する機能、商品的価値、正確性及び有用性を有すること、ユーザーによる本サービスの利用がユーザーに適用のある法令等又は企業若しくは業界団体等の内部規則等に違反しないこと及び本サービスに不具合が生じないことについて、何ら保証するものではありません。</p>
            <p>2.本サービス又は当社ウェブサイ卜に関連してユーザーと他のユーザー又は第三者との間において生じた取引、連絡及び紛争等について、当社は一切の責任を負いません。</p>
            <p>3.印刷サービスは、当社がユーザーから印刷可能な印刷データの提供を受け、これを紙その他の素材に印刷すること等により本印刷物を製造し、これをユーザーに販売するものであり、当社はユーザーから提供を受けた印刷データの修正等を行う義務を負わず、また当該印刷データの完全性を何ら保証しません。また、当社は、過去にユーザーから提供を受けた印刷データを保存する義務及び印刷用に変換した印刷データをユーザーに提供する義務を負いません。</p>
            <p>4.当社は、本印刷物がユーザーの想定し、希望したとおりの色合い、風合い、手触り、質感その他の性質を有することを保証するものではなく、本印刷物がユーザーの想定し、希望したとおりの性質を有さなかったことによりユーザーが被った損害について当社は一切の責任を負いません。</p>
            <p>5.本サービスは、本サービス及び本サービスにおいて提供される情報の内容等が法的に禁止されている国や地域において利用されることを目的としておらず、また、それらの国や地域の個人及び企業その他の団体が利用することを想定しておりません。ユーザーが本サービス又は本サービスにおいて入手した情報等を利用して、それらの国や地域の法令等に違反又は抵触する行為を行った場合でも、当社は一切の責任を負いません。ユーザーは、自らの行為に適用される法令等を自ら確認した上で、自らの意思で、及び自らの責任において本サービスを利用するものとします。</p>
            <p>6.当社は、当社ウェブサイトにおいて、又はその他本サービスに関連して掲載される広告やアクセス可能となる外部ウェブサイト等に関し、その内容の正確性、完全性、適法性、速報性、商品性、第三社の権利を侵害していないこと又はユーザーその他の第三者の目的に合致していること等について、何ら保証するものではありません。これらの広告や外部ウェブサイトの使用により、ユーザーその他の第三者に損害、損失又は費用等が発生した場合でも、当社は一切その責任を負いません。ユーザーは、これらの広告や外部ウェブサイトについて、その内容を自ら確認し、自らの意思で、及び自らの責任においてこれを利用するものとします。</p>
          </div>
        </section>

        <section class="p-policy-section">
          <div class="p-policy-section-header">
            <h3 class="g-title-tertiary">第１９条（損害賠償責任）</h3>
          </div>
          <div class="p-policy-section-content">
            <p>1.ユーザーが本規約に違反することにより、又は本サービスの利用に関連して、当社、他のユーザー、パートナー企業その他の第三者に損害を与えた場合、当該ユーザーの故意又は過失の有無を問わず、当該ユーザーは、当該損害を受けた者に対する損害賠償責任を含む、一切の責任を負うものとします。また当該行為が複数のユーザーによりなされた場合には、当該行為をしたユーザーらは連帯して、当該損害を賠償する責任を負うものとします。</p>
            <p>2.ユーザーは、本サービスの利用に関連して、他のユーザーその他の第三者からクレームを受け、又はそれらの者との間で紛争等が生じた場合には、その内容を直ちに当社に通知するとともに、当該紛争等を自らの費用と責任において処理し、その結果を当社に通知するものとします。</p>
            <p>3.当社は、本サービスの提供又は利用に関連してユーザーが被った損害につき、当社に故意又は重大な過失がある場合を除き、これを賠償する責任を一切負わないものとします。また、当社がかかる損害を賠償する責任を負う場合においても、その責任は、当該損害の原因となった個別契約についてユーザーが当社に支払った対価の額を上限とし、付随的損害、間接損害、特別損害、将来の損害及び逸失利益にかかる損害については、これを賠償する責任を負わないものとします。</p>
          </div>
        </section>

        <section class="p-policy-section">
          <div class="p-policy-section-header">
            <h3 class="g-title-tertiary">第２０条（本規約等の変更）</h3>
          </div>
          <div class="p-policy-section-content">
            <p>1.当社は、必要に応じて本規約を変更できるものとします。当社は、本規約を変更した場合には、その効力発生日を定めた上で、ユーザーに対し、当該効力発生日及び当該変更内容を当社ウェブサイト上において通知するものとし、当該効力発生日の到来後、ユーザーが本サービスを利用した場合又は当社の定める期間内に登録抹消の手続をとらなかった場合には、ユーザーは、本規約の変更に同意したものとみなし、当該変更後の本規約が適用されるものとします。</p>
            <p>2.本規約の変更の効力発生日前に、ユーザーから第9条第1項に定める申込みがされた個別契約に関しては、前項の定めにかかわらず、変更前の本規約が適用されるものとします。</p>
          </div>
        </section>

        <section class="p-policy-section">
          <div class="p-policy-section-header">
            <h3 class="g-title-tertiary">第２１条（連絡、通知）</h3>
          </div>
          <div class="p-policy-section-content">
            <p>本サービスに関する問い合わせその他ユーザーから当社に対する連絡又は通知及び本規約の変更に関する通知その他当社からユーザーに対する連絡又は通知は、当社の定める方法で行うものとします。</p>
          </div>
        </section>

        <section class="p-policy-section">
          <div class="p-policy-section-header">
            <h3 class="g-title-tertiary">第２２条（分離可能性）</h3>
          </div>
          <div class="p-policy-section-content">
            <p>本規約のいずれかの条項又はその一部が、消費者契約法その他の法令等により無効又は執行不能と判断された場合であっても、本規約の残りの規定及び一部が無効又は執行不能と判断された規定の残りの部分は、継続して完全に効力を有するものとします。canal及びユーザーは、当該無効若しくは執行不能と判断された条項又はその一部を適法とし、執行力を持たせるために必要な範囲で修正し、当該無効若しくは執行不能な条項又はその一部の趣旨並びに法律的及び経済的に同等の効果を確保できるように努めるものとします。</p>
          </div>
        </section>

        <section class="p-policy-section">
          <div class="p-policy-section-header">
            <h3 class="g-title-tertiary">第２３条（言語）</h3>
          </div>
          <div class="p-policy-section-content">
            <p>本規約は、日本語を正文とします。本規約につき、参考のために英語その他の言語による翻訳文が作成された場合でも、日本語の正文のみが本規約、本サービス利用契約及び個別契約としての効力を有し、翻訳文はいかなる法的効力も有しないものとします。</p>
          </div>
        </section>

        <section class="p-policy-section">
          <div class="p-policy-section-header">
            <h3 class="g-title-tertiary">第２４条（完全合意）</h3>
          </div>
          <div class="p-policy-section-content">
            <p>本規約は、本規約に含まれる事項に関する本規約の当事者間の完全な合意を形成し、口頭又は書面を問わず、本規約に含まれる事項に関する当該当事者間の事前の合意、表明及び了解に優先するものとします。</p>
          </div>
        </section>

        <section class="p-policy-section">
          <div class="p-policy-section-header">
            <h3 class="g-title-tertiary">第２５条（本規約に定めのない事項）</h3>
          </div>
          <div class="p-policy-section-content">
            <p>本規約に定めのない事項又は本規約の解釈上の疑義等が生じた場合、当社及びユーザーは、信義誠実の原則に従って協議の上、速やかに解決を図るものとします。</p>
          </div>
        </section>

        <section class="p-policy-section">
          <div class="p-policy-section-header">
            <h3 class="g-title-tertiary">第２６条（準拠法及び管轄裁判所）</h3>
          </div>
          <div class="p-policy-section-content">
            <p>1.本規約、本サービス利用契約及び個別契約の準拠法は日本法とします。</p>
            <p>2.本規約、本サービス利用契約及び個別契約に起因し、又はこれらに関連する一切の紛争については、東京地方裁判所を第一審の専属的合意管轄裁判所とします。</p>
          </div>
        </section>
      </div>
    </div>
  </main>

  <footer class="p-policy-footer">
    <div class="p-policy-wrapper">
      <div class="p-policy-footer-terms">
        <p>制定:2022年6月1日</p>
        <p>福岡パッケージ株式会社代表取締役</p>
        <p>代表取締役　庄嶋 毅</p>
      </div>
    </div>
  </footer>
</div>
{% endblock %}


{% block javascript %}
{% endblock %}
